:host{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tab-area{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

editor-area.tab-area {
    height: 120px;
    flex: initial;
}

.btn-submit{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

:host /deep/ .mat-toolbar-row{
    height: 32px;
}

:host /deep/ .mat-toolbar{
    min-height: 32px;
    font-size: 14px;
}

:host /deep/ .mat-grid-list{
    width: 100%;
}

:host /deep/ .align-left.mat-grid-tile .mat-figure{
    justify-content: flex-start;
}

:host /deep/ .align-right.mat-grid-tile .mat-figure{
    justify-content: flex-end;
}
