.console-card {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: 0;
}

div.header {
    flex: 1 1 52px;
    max-height: 52px;
    height: 52px;
    overflow: hidden;
    /* TODO: Change to fit selected theme */
    background-color: #3f51b5;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    overflow: hidden;
}

div.header table {
    table-layout: fixed;
}

div.body {
    flex: 1 1;
    overflow: auto;
}

tr {
    width: 100%;
    display: block;
    padding: 0 10px;
}

tr:nth-child(even) {
    /* TODO: Change to fit selected theme */
    background-color: #e8eaf6;
}

th {
    height: 44px;
    line-height: 44px;
    color: rgba(255,255,255,0.87);
    font-size: 12px;
}

td {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
    white-space: pre;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 4px;
}

td, th {
    padding: 0 12px 0 0 ;
    text-align: left;
    width: 150px;
    min-width: 150px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* TODO: Change to fit selected theme */
    background-color: #1a237e;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2);
}
