<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style type="text/css" media="screen">
            #editor { 
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        </style>
        <script src="../../node_modules/ace-builds/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>

        <div id="editor">
            SELECT Id FROM Orders WHERE Id = 'testID'
        </div>
    </body>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/sql");
    </script>
</html>